* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    ;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 16px  rgba(0, 0, 0, 0.2);
    margin: 16px;
}

.text-title__wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-right: 12px;
}

.icon {
    font-size: 24px;
    margin-bottom: 12px;
}

h2.special-heading {
    margin: 0 0 6px;
    font-size: 20px;
    font-family: Georgia;
}

p {
    margin: 0 0 24px;
    color: #555;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(
        to bottom, 
        #8a7ff0 0%,   /* light glossy highlight */
        #6a5acd 40%,  /* the base color */
        #5848c0 100%  /* darker bottom for depth */
       );
       box-shadow:
       inset 0 1px 2px rgba(255, 255, 255, 0.4),  /* inner shine */
        0 2px 4px rgba(0, 0, 0, 0.25);              /* outer depth */ 
    color: white;
    font-size: 16px;
    font-family: courier;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}

button:hover {
    background: #2bcfca;
}